# dependencies
node_modules

# images
server/public/image/article-image
server/public/image/article-cover
public/image/article-cover
public/image/article-image
public/image/mini-image

public/webp/article-cover
public/webp/article-image
public/webp/mini-image

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

